<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
    <resources>
        <resource id="Magento_Backend::admin">

            <!-- Module Root -->
            <resource id="Kiwi_Testimonials::root"
                      title="Kiwi Testimonials"
                      translate="true">

                <!-- View -->
                <resource id="Kiwi_Testimonials::view"
                          title="View Testimonials"
                          translate="true">

                    <!-- Create -->
                    <resource id="Kiwi_Testimonials::create"
                              title="Create Testimonial"
                              translate="true"/>

                    <!-- Edit -->
                    <resource id="Kiwi_Testimonials::edit"
                              title="Edit Testimonial"
                              translate="true"/>

                    <!-- Delete -->
                    <resource id="Kiwi_Testimonials::delete"
                              title="Delete Testimonial"
                              translate="true"/>

                </resource>

            </resource>

        </resource>
    </resources>
</acl>
</config>
