<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

    <!-- ROOT MENU -->
    <add id="Kiwi_Testimonials::kiwicommerce"
         title="KiwiCommerce"
         module="Kiwi_Testimonials"
         sortOrder="50"
         resource="Kiwi_Testimonials::testimonial"/>

    <!-- SUB MENU -->
    <add id="Kiwi_Testimonials::testimonial"
         title="Testimonials"
         module="Kiwi_Testimonials"
         sortOrder="10"
         parent="Kiwi_Testimonials::kiwicommerce"
         action="testimonials/testimonial/index"
         resource="Kiwi_Testimonials::root"/>



</menu>
</config>
