<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Test::top_level" title="Test" module="Test_GraphQl" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="Test_GraphQl::test_graphql_blog" title="blog" module="Test_GraphQl" sortOrder="9999" resource="Magento_Backend::content" parent="Test::top_level" action="test_graphql/blog/index"/>
	</menu>
</config>
