<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Kiwi\Testimonials\Api\TestimonialRepositoryInterface"
                type="Kiwi\Testimonials\Model\TestimonialRepository"/>

	<preference for="Kiwi\Testimonials\Api\Data\TestimonialInterface" 
	type="Kiwi\Testimonials\Model\Testimonial"/>


    <virtualType name="Kiwi\Testimonials\Model\ResourceModel\Testimonial\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">kiwi_testimonials</argument>
			<argument name="resourceModel" xsi:type="string">Kiwi\Testimonials\Model\ResourceModel\Testimonial\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="kiwi_testimonial_listing_data_source" xsi:type="string">Kiwi\Testimonials\Model\ResourceModel\Testimonial\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<type name="Magento\Framework\Console\CommandListInterface">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="kiwi_testimonials_import"
					xsi:type="object">
					Kiwi\Testimonials\Console\Command\ImportTestimonials
				</item>
			</argument>
		</arguments>
	</type>

</config>
