<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Test\GraphQl\Api\ProductsManagementInterface" type="Test\GraphQl\Model\ProductsManagement"/>
	<type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="import" xsi:type="object">Test\GraphQl\Console\Command\Import</item>
			</argument>
		</arguments>
	</type>
	<preference for="Test\GraphQl\Api\BlogRepositoryInterface" type="Test\GraphQl\Model\BlogRepository"/>
	<preference for="Test\GraphQl\Api\Data\BlogInterface" type="Test\GraphQl\Model\Blog"/>
	<preference for="Test\GraphQl\Api\Data\BlogSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Test\GraphQl\Model\ResourceModel\Blog\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">test_graphql_blog</argument>
			<argument name="resourceModel" xsi:type="string">Test\GraphQl\Model\ResourceModel\Blog\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="test_graphql_blog_listing_data_source" xsi:type="string">Test\GraphQl\Model\ResourceModel\Blog\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
